*.fna
data/evaluation
*/work/
dev_results/
.vscode
*/.nextflow
.nextflow.log*
.conda_cache
*trace.tsv
**/subgraphs/
*full_paths.fasta
*.gaf
*.tsv
*.csv
*.txt
taxdump.tar.gz
*.fasta
.nf-test.log
.nf-test/
**results/