profiles {
    standard {
        //Specify the work directory location, can baloon in size depending on number of runs
        workDir = "/data/raid1_HDD/David/subgraph_analyser_runs/work"
        // workDir = "${projectDir}/work" 
        
        // All parameters, including database paths, must be specified before running the pipeline. 
        // these can be hard coded here or provided via command line when executing the pipeline.
        params {
            graph = "specify_path" // must be provided, path to assembly graph in GFA format
            // reads = "specify_path" //must be provided, path to reads in fastq format, can use wildcards
            reads = "/data/raid1_HDD/David/lgtfinder/proof_of_concept/simulated_metagenomes/simplest/*{1,2}.fastq" 
            outdir = "${projectDir}/dev_results" // rename as desired
            kraken_db = "/data/raid1_HDD/David/db/refseq_bacteria_kraken_db/" 
            // kraken_db = "/data/raid1_HDD/David/tmp/kraken_standard_test" // path to kraken2 database, must be provided, default is kraken2 standard refseq bacteria db
            // genes = "/data/raid1_HDD/David/tmp/card_genes.fasta" // path to gene database in fasta format, must be provided, default is CARD
            genes = "/home/david/dm-lab/graph_searching_sarand/card_protein_homolog_with_fam.fasta" 
            // bakta_db = "/data/raid1_HDD/David/tmp/bakta_light" // path to bakta database, must be provided, default is bakta light database
            bakta_db = "/data/raid1_HDD/David/db/bakta_light/db-light/" 

            radius = 10 // subgraph extraction radius to use, 10 default
            overlap = 55 // assembly graph overlap in bp, default 55 
            strictness = "strict" // set the strictness of the path filtering, options are "strict" or "relaxed", default "strict"
        }

        process.executor = 'local'
        // process.errorStrategy = 'ignore'
        process.cache = 'lenient'
        conda.cacheDir = "${launchDir}/.conda_cache"
        conda.enabled = true
        conda.useMamba = true
        report.overwrite = true
        trace {
            enabled = true
            overwrite = true
            raw = true
            file = 'trace.tsv'
            fields = 'tag,name,status,exit,realtime,cpus,disk,%cpu,%mem,peak_rss,peak_vmem,rchar,wchar'
        }
    }
    test {
        process.executor = 'local'
        conda.enabled = true
        conda.useMamba = true
        params {
            graph = "${projectDir}/test_data/3002274_test.gfa"
            reads = "/data/raid1_HDD/David/lgtfinder/proof_of_concept/simulated_metagenomes/simplest/*{1,2}.fastq" 
            outdir = "${projectDir}/tests/results"
            kraken_db = "/data/raid1_HDD/David/db/refseq_bacteria_kraken_db/" 
            // kraken_db = "specify_path" // path to kraken2 database, must be provided, default is kraken2 standard refseq bacteria db
            genes = "/home/david/dm-lab/graph_searching_sarand/card_protein_homolog_with_fam.fasta" 
            // genes = "specify_path" // path to gene database in fasta format, must be provided, default is CARD
            bakta_db = "/data/raid1_HDD/David/db/bakta_light/db-light/" 
            // bakta_db = "specify_path" // path to bakta database, must be provided, default is bakta light database
            radius = 10 
            overlap = 55 
            strictness = "strict" 
        }
    }
    stub {
        process.executor = 'local'
        conda.enabled = true
        conda.useMicromamba = true
        params {
            graph = "${projectDir}/test_data/3002274_test.gfa"
            reads = "${projectDir}/test_data/*{1,2}.fastq" 
            outdir = "${projectDir}/tests/results"
            kraken_db = "${projectDir}/test_data/refseq_bacteria_kraken_db/" 
            genes = "${projectDir}/test_data/card_protein_homolog_with_fam.fasta" 
            bakta_db = "${projectDir}/test_data/bakta_light/db-light/" 
            radius = 5 
            overlap = 55 
            strictness = "relaxed" 
        }
    }
}